body {
    margin: 0;

    background-color: #222;
    color: white;
    font-family: "Source Sans Pro";
}

#toph {
    display: flex;
    flex-direction: row;
    padding: 1em 2em 0;

    background: linear-gradient(45deg, #b62000,#e60040);
}

#toph>svg {
    order: 1;
    height: fill-available;
    max-height: 3em;
}
#toph>nav {
    flex-grow: 1;
    border-bottom: .166em solid #eee;
}
#toph>nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: fill-available;
    align-items: center;
    justify-content: center;
    height: 100%;

    list-style-type: none;
    font-variant-caps: small-caps;
}

#toph>nav li:first-of-type::before {
    display: none;
}
#toph>nav li::before {
    margin: 0 0.75ex; 
    content: "—";
}

#toph>nav li code {
    font-family: "Source Code Pro";
    font-variant-caps: normal;
    letter-spacing: -0.175ex;
}


#toph * {
    margin: 0; padding: 0;
}